{% extends "base.html" %}

{% block content %}
<h1>Connected Devices</h1>

<table>
    <tr>
        <th>IP Address</th>
        <th>MAC Address</th>
        <th>Actions</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td>{{ device.ip }}</td>
        <td>{{ device.mac }}</td>
        <td>
            <a href="/set_primary/{{ device.ip }}">Set as Primary</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Primary Device: {{ primary or "None" }}</h2>
{% endblock %}
